@mixin section-bg($background-color) {
  background-color: $background-color;
}
body {
  @include section-bg(var(--primary-white-color));
}
.section--team {
  @include section-bg(var(--bg-btn-color));
}
.footer-page {
  @include section-bg(var(--bg-header-footer-color));
}

@mixin section-padding($top, $bottom) {
  padding-top: $top;
  padding-bottom: $bottom;
}
.section {
  @include section-padding(94px, 94px);
}
.section--specification {
  @include section-padding($top: 0);
}
.footer-page {
  @include section-padding(60px, 60px);
}

@mixin logo__text($color) {
  color: $color;
}
.logo__text {
  @include logo__text(var(--logo-black-color));
}
.logo__text--accent {
  @include logo__text(var(--primary-white-color));
}

@mixin centered-flex($type: flex, $disposition: center) {
  display: $type;
  align-items: $disposition;
}
.header-page__container {
  @include centered-flex();
}
.nav {
  @include centered-flex();
}
.h-contact__link {
  @include centered-flex();
}
.form__checkbox {
  @include centered-flex();
}
.features {
  @include centered-flex();
}
.features__bg {
  @include centered-flex();
}
.specification__title {
  @include centered-flex();
}
.socia__link {
  @include centered-flex();
}
.clients__link {
  @include centered-flex();
}
.footer-page__container {
  @include centered-flex($disposition: baseline);
}
.subscription > .button {
  @include centered-flex($type: inline-flex);
}

@mixin socia__link($fill, $bg) {
  fill: $fill;
  background-color: $bg;
}
.socia__link {
  @include socia__link(var(--fill-icon));
}
.socia__link--bg-white {
  @include socia__link(var(--primary-white-color), rgba(255, 255, 255, 0.1));
}
